
.main_wrapper {
    width: 500px;
    display: table;
    margin: auto;
    border: 1px solid blue;
}

.bigger {
    font-size: 2em;
}


p:nth-of-type(odd) .bigger {
    color: red;
}

p:nth-of-type(5n) .bigger {
    color: blue;
}